@tailwind base;
@tailwind components;
@tailwind utilities;

/* import montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, */
    /* Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

#bg {
  background-image: url("../assets/bg.svg");
  background-size: auto;
  background-position: center;
  background-attachment: inherit;
  background-size: 200%;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
}

.scroll::-webkit-scrollbar {
  width: 0.5rem;  
  border-radius: 0 0.5rem 0.5rem 0;
}

.scroll::-webkit-scrollbar-track {
  background: #4848485e; 
  border-radius: 0 0.5rem 0.5rem 0;
}

.scroll::-webkit-scrollbar-thumb {
  background: #4848485e; 
}